
<div class="row">
  <div class="col-6 col-lg-8">
    <button class="btn btn-primary" routerLink="/admin/products/new">New Product</button>
  </div>
  <div class="col-6 col-lg-4"><input type="text" class="form-control" 
      placeholder="Search Title" 
      #query (keyup)="search(query.value)">
  </div>    
</div>

<br>

<ngx-datatable id="data-table"
  class="material striped"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="40"
  [footerHeight]="40"
  [limit]="10"
  [rowHeight]="'auto'"
  [reorderable]="reorderable"
>

  <ngx-datatable-column prop="title"></ngx-datatable-column>
  <ngx-datatable-column prop="category"></ngx-datatable-column>
  <ngx-datatable-column prop="price">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span>{{value | currency:'USD':'$'}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="View">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a [routerLink]="['/admin/products', row['$key']]">View</a>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>