.thumbnail {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.price {
    width: 30%;
}
.title {
    width: 30%;
}
.quantity {
    width: 30%;
}

@media screen and (max-width: 767px){
    .price {
        width: 20%;
    }
    .quantity {
        width: 40%;
    }
    .title {
        width: 40%;
    }
    .thumbnail {
        height: 60px;
        width: 60px;
    }
}
